[user]
	name = makyos
	email = makyos@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	excludesfile = $HOME/.gitignore
[color]
	ui = auto
[push]
	default = simple
